<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kabberry.wallet"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name="com.kabberry.wallet.WalletApplication"
        android:allowBackup="false"
        tools:replace="allowBackup"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/app_name"
            android:name=".ui.WalletActivity"
            android:windowSoftInputMode="adjustResize">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:name=".ui.IntroActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:name=".ui.AboutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:name=".ui.SignTransactionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:name=".ui.ScanActivity"
            android:stateNotNeeded="true"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/title_activity_transaction_details"
            android:name=".ui.TransactionDetailsActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_exchange_rates"
            android:name=".ui.ExchangeRatesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WalletActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/title_activity_previous_addresses"
            android:name=".ui.PreviousAddressesActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_settings"
            android:name=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WalletActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/title_activity_show_seed"
            android:name=".ui.ShowSeedActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_trade"
            android:name=".ui.TradeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.WalletActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_exchange_history"
            android:name=".ui.ExchangeHistoryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TradeActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_exchange_status"
            android:name=".ui.TradeStatusActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_sign_verify_message"
            android:name=".ui.SignVerifyMessageActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_account_details"
            android:name=".ui.AccountDetailsActivity" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_sweep_wallet"
            android:name=".ui.SweepWalletActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_transaction_fees"
            android:name=".ui.FeesSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_debugging"
            android:name=".ui.DebuggingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SettingsActivity" />
        </activity>
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/app_name"
            android:name=".ui.PinEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <category
            android:name="android.intent.category.HOME" />
        <provider
            android:name=".ExchangeRatesProvider"
            android:authorities="com.kabberry.wallet.coin.exchange_rates"
            android:exported="false" />
        <provider
            android:name=".AddressBookProvider"
            android:authorities="com.kabberry.wallet.coin.address_book"
            android:exported="false" />
        <provider
            android:name=".ExchangeHistoryProvider"
            android:authorities="com.kabberry.wallet.coin.exchange_history"
            android:exported="false" />
        <service
            android:name=".service.CoinServiceImpl"
            android:exported="false" />
        <activity
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/title_activity_info"
            android:name=".ui.InfoActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.NoTitleBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Dialog"
            android:name="org.acra.dialog.CrashReportDialog"
            android:finishOnTaskLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            tools:replace="android:theme" />
        <service
            android:name="org.acra.sender.SenderService"
            android:exported="false"
            android:process=":acra" />
    </application>
</manifest>
